@using RepositoryDesignPattern.Entitites.Concrete;
@model List<Product>


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Stock</th>
            <th>Category</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>@item.ProductStock</td>
                <td>@item.Category.CategoryName</td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-warning">Update</a></td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </table>
    <a href="/Product/AddProduct" class="btn btn-primary">Add Product</a>
</div>